################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LOGARHYTHM/v16
/Library
/Logs
/obj/Debug
/Packages
/ProjectSettings
/Temp
/Assembly-CSharp.csproj
/LOGARHYTHM.sln
